@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: $primary-text-font, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and(min-width: 320px) {
    width: 320px;
  }

  @media screen and(min-width: 768px) {
    padding: 0 32px;
    width: 768px;
  }

  @media screen and(min-width: 1280px) {
    padding: 0 16px;
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}