.section-header{
    background-color: $accent-bg-color;
    & .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.container{
    @media screen and (max-width: 320px){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 321px){
        width: 320px;
    }
}
.menu{
    display: none;

}
.mobile-menu.is-open{
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column-reverse;

    height: 100vh;
    width: 250px;
    // padding:60px 20px;

    background-color: #E17992;

}
.mobile-menu{
    display: none;
    & .buy-now{
        margin-bottom: 20px;
    }
}


.mobile-list{
    margin-bottom: auto;
}
.mobile-list__item{
    border-bottom: 1px solid #E18298;
    padding:13px 20px;
    
    &:nth-child(1){
        border-top: 1px solid #E18298;
    }
    
}
.mobile-list__link{
    text-decoration: none;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: $default-color;
}
.logo{
    padding-top: 8px;
}
.menu-btn{
    margin-top: 18px;
    border:0;
    background-color: transparent;
    
}
.menu-btn.is-open{
    position: absolute;
    top: 0;
    right: 0;
}
.menu-btn .icon-close{
    display: block;
    stroke: $default-color;
}
.menu-btn.is-open .icon-burger{
    display: none;
}
.icon-burger{
    stroke: $accent-color;
}
.buy-now{
    border: 0;
    background-color: #ffffff;
    color: $accent-color;
    stroke: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;  
    & svg{
        padding-bottom: 0;
        margin-left: 14px;
        display: block;
    }
}

// HERO

.hero{
    // height: 444px;
    padding-top: 138px;
    padding-bottom: 158px;
    background-color: $accent-bg-color;
    background-image: url("../images/hero-header/mobile/Group-45.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 36px;
    background-position-y: 25px;
    
}
.location-list{
    display: none;
}
.info-list{
    display: none;
}
.img-girl{
    display: none;
}
.hero-title-wrapper{
    
    color: $default-color;
    font-family: $secondary-text-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (max-width: 320px){
        // position: absolute;
        // top: 138px;
        // z-index: 2;
    }
    & .hero-title{
        font-weight: 400;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
}
.passion{
    font-size: 48px;
    color: $accent-color;
}

.img-icecream{
    position: absolute;
    top: 25px;
    left: 28px;
    z-index: 1;
}
.btn-list{
    display: flex;

    margin-top: 18px;

    font-family: $primary-text-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2;

    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2;
    text-transform: none;
}
.button{
    padding: 8px 14px;
    border-radius: 20px;
}
.button-list__link--accent{
    margin-right: 10px;
    background-color: $accent-color;
    color: $default-color;
}
.button-list__link{
    background-color: $default-color;
    color: $accent-color;
    
}
