
$primary-text-font: 'DM Sans';
$secondary-text-font: 'Titan One';

$accent-color: #D41443;
$secondary-accent-color: #FFA5BA;
$default-color: #FFFFFF;

$default-title-color: #000000;
$secondary-text-color: #907E82;

$accent-bg-color: #FFB8CA;
$light-accent-bg-color: #FFF5F6;
$default-bg-color: #E5E5E5;
$third-background-color: #fff5f6;

