@import './variables';
@import './fonts';
@import './common';
@import './hero-header';
@import'./products';
@import './about';
@import './advantages';
@import "./photogalleyi";
@import './coment';
@import './contacts';
@import './footer';

