<section class="advantages" id="how-its-made">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--milk-bucket">
        <!-- <img src="" alt="icon of bucket and udder" /> -->
        <!-- <picture>
            <source
              srcset="
                ./images/about_icon1.png    1x,
                ./images/about_icon1_2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/about_icon1.png    1x,
                ./images/about_icon1_2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/about-advantages/advantages_icon1.png    1x,
                ./images/about-advantages/advantages_icon1_2x.png 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/about-advantages/advantages_icon1.png"
              alt="Bio-eco: mug of milk and cow"
              class="advantage__picture"
            />
          </picture> -->

        <p class="advantage__figures">721</p>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--fruit">
        <!-- <img src="" alt="icon of busket with apples" /> -->
        <!-- <picture>
            <source
              srcset="
                ./images/about-advantages/advantages_icon2.png    1x,
                ./images/about-advantages/advantages_icon2_2x.png 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/about-advantages/advantages_icon2.png"
              alt="icon of busket with apples"
              class="advantage__picture"
            />
          </picture> -->

        <p class="advantage__figures">16kg</p>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--ice-cream">
        <!-- <picture>
            <source
              srcset="
                ./images/about-advantages/advantages_icon3.png    1x,
                ./images/about-advantages/advantages_icon3_2x.png 2x
              "
              media="(min-width:480px)"
            />
            <img
              src="./images/about-advantages/advantages_icon3.png"
              alt="icon of ice-cream on a stick in the shape of a heart"
              class="advantage__picture"
            />
          </picture> -->
        <p class="advantage__figures">84</p>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
