<section class="section products-section" id="our-products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <div class="products">
      <ul class="products__list">
        <li class="products__item">
          <div class="products__wrapper products__wrapper--first">
            <h3 class="products__name">ice cream</h3>
            <div class="products__elipse-container">
              <span class="products__elipse"></span>
            </div>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="products__text-hidden"
                >dolore magna aliqua facilisis.</span
              >
            </p>
            <button
              type="button"
              class="products__button"
              aria-label="More details"
            >
              <svg class="products__icon">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
              <span class="products__tooltip">
                <span class="products__tooltip-text"
                  >Lorem ipsum, dolor sit amet adipisicing elit. Mollitia fuga
                  dolores laudantium, numquam odio quo quas culpa alias?</span
                >
              </span>
            </button>
          </div>
        </li>
        <li class="products__item">
          <div class="products__wrapper products__wrapper--second">
            <h3 class="products__name">ice coffee</h3>
            <div class="products__elipse-container">
              <span class="products__elipse"></span>
            </div>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="products__text-hidden"
                >dolore magna aliqua facilisis.</span
              >
            </p>
            <button
              type="button"
              class="products__button"
              aria-label="More details"
            >
              <svg class="products__icon">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
              <span class="products__tooltip">
                <span class="products__tooltip-text"
                  >Lorem ipsum, dolor sit amet adipisicing elit. Mollitia fuga
                  dolores laudantium, numquam odio quo quas culpa alias?</span
                >
              </span>
            </button>
          </div>
        </li>
        <li class="products__item">
          <div class="products__wrapper products__wrapper--third">
            <h3 class="products__name">milkshakes</h3>
            <div class="products__elipse-container">
              <span class="products__elipse"></span>
            </div>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="products__text-hidden"
                >dolore magna aliqua facilisis.</span
              >
            </p>
            <button
              type="button"
              class="products__button"
              aria-label="More details"
            >
              <svg class="products__icon">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
              <span class="products__tooltip">
                <span class="products__tooltip-text"
                  >Lorem ipsum, dolor sit amet adipisicing elit. Mollitia fuga
                  dolores laudantium, numquam odio quo quas culpa alias?</span
                >
              </span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
